<!-- views/buyButtons.ejs -->
<form action="/items/buy/<%= item.id %>/<%= 1 %>" method="post">
    <button type="submit">Buy One</button>
  </form>
  
  <form action="/items/buy/<%= item.id %>/<%= 2 %>" method="post">
    <button type="submit">Buy Two</button>
  </form>
  
  <form action="/items/buy/<%= item.id %>/<%= 3 %>" method="post">
    <button type="submit">Buy Three</button>
  </form>
  